*.suo
*.user
*.sln.docstates
[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/
*.nupkg
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.scc
.DS_Store*
